:root {
    --color-dark: #363440;
    --color-light: #f0f0f1;
    --dice-color-1: #dc267f;
    --dice-color-2: #10c05e;
    --dice-color-3: #648fff;
    --dice-color-4: #ffb000;
    --flash: #FFFD8D;
    --grey-dark: #404040;
    --grey-light: #aaaaaa;
    --color-white: #ffffff;
    --shadow: 0px 2px 5px #404040;
}
