@import "fonts";
@import "variables";

body {
    margin: 0 auto;
    background-color: var(--color-light);
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 11px;
    color: var(--color-dark);
}

@mixin font-big {
    color: var(--color-light);
    font-family: "Kanit";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

@mixin dice-icons {
    font-family: "icomoon";
    font-weight: normal;
    font-size: 70px;
    line-height: 0.75em;
}

@import "header";
@import "main";
@import "footer";
@import "keyframes";
@import "mediaqueries";