@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.eot");
  src: url("../fonts/icomoon/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.woff") format("woff"), url("../fonts/icomoon/fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-dark: #363440;
  --color-light: #f0f0f1;
  --dice-color-1: #dc267f;
  --dice-color-2: #10c05e;
  --dice-color-3: #648fff;
  --dice-color-4: #ffb000;
  --grey-dark: #404040;
  --grey-light: #aaaaaa;
  --color-white: #ffffff;
  --shadow: 0px 3px 8px #404040;
}

header {
  background-color: var(--color-dark);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.qblt-title {
  color: var(--color-light);
  font-family: "Kanit";
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 26px;
}

.b-color-theme {
  text-align: center;
  color: var(--grey-light);
}

.b-color-theme--on {
  color: var(--color-dark);
}

.b-roller {
  text-align: center;
}

.b-roller__selection {
  min-height: 100px;
  max-width: 750px;
  border: 2px solid var(--grey-light);
  border-radius: 8px;
  background-color: var(--color-white);
  padding-top: 15px;
}

.b-roller__d4:before {
  content: "\e905";
  font-family: "icomoon";
  font-weight: normal;
  font-size: 80px;
  line-height: 1em;
}

.b-roller__d6:before {
  content: "\e904";
  font-family: "icomoon";
  font-weight: normal;
  font-size: 80px;
  line-height: 1em;
}

.b-roller__d8:before {
  content: "\e903";
  font-family: "icomoon";
  font-weight: normal;
  font-size: 80px;
  line-height: 1em;
}

.b-roller__d10:before {
  content: "\e902";
  font-family: "icomoon";
  font-weight: normal;
  font-size: 80px;
  line-height: 1em;
}

.b-roller__d12:before {
  content: "\e901";
  font-family: "icomoon";
  font-weight: normal;
  font-size: 80px;
  line-height: 1em;
}

.b-roller__d20:before {
  content: "\e900";
  font-family: "icomoon";
  font-weight: normal;
  font-size: 80px;
  line-height: 1em;
}

.b-roller--color-1 {
  color: var(--dice-color-1);
}

.b-roller--color-2 {
  color: var(--dice-color-2);
}

.b-roller--color-3 {
  color: var(--dice-color-3);
}

.b-roller--color-4 {
  color: var(--dice-color-4);
}

.b-instructions {
  color: var(--grey-light);
}

.b-btn {
  background-color: var(--color-dark);
  border: none;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  margin: 0 12px;
  padding: 8px 12px;
  font-size: 16px;
  color: var(--color-light);
  font-family: "Kanit";
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

footer {
  text-align: center;
}

.b-about {
  color: var(--grey-light);
}

@media screen and (min-width: 576px) {
  .b-roller__selection {
    min-width: 550px;
  }
}

@media screen and (min-width: 810px) {
  .b-roller__selection {
    min-width: 750px;
  }
}

body {
  margin: 0;
  background-color: var(--color-light);
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 11px;
  color: var(--color-dark);
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */